$title-color: #3c78d8;

@mixin clearfix() {
    &:after {
        display: block;
        clear: both;

        content: "";
        }
    }
%skill-set {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 16px;
    text-align: center;
    }
.skill {
    &-1 {
        &:before {
            background: #007bff;

            @extend %skill-set;
            content: "1";
            }
        }
    &-2 {
        &:before {
            background: #007bff;

            @extend %skill-set;
            content: "2";
            }
        }
    &-3 {
        &:before {
            background: #007bff;

            @extend %skill-set;
            content: "3";
            }
        }
    &-4 {
        &:before {
            background: #007bff;

            @extend %skill-set;
            content: "4";
            }
        }
    &-5 {
        &:before {
            background: #007bff;

            @extend %skill-set;
            content: "5";
            }
        }
    }




body {
    // vw로 변환하는 함수 생각하자
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    background: black;
    }

.update-date {
    font-size: 13px;
    text-align: right;
    }

section {
    margin-bottom: 30px;
    h3 {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        color: $title-color;

        text-transform: uppercase;
        }
    strong {
        font-size: 24px
;
        font-weight: bold;
        }
    em {
        font-style: italic;

        color: gray;
        }
    dt {
        padding-top: 10px;
        border-top: 1px solid #ccc;
        font-size: 20px;
        color: black;
        &:first-child {
            border-top: none;
            }
        }
    a {
        color: black;
        text-decoration: unset;
        }
    }

.profile {
    @include clearfix();
    &__personimg {
        float: left;
        }
    &__personinfo {
        float: left;
        h1 {
            color: $title-color;
            }
        }
    }

.skills {
    h3 {
        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: black;
            font-size: 15px;
            color: white;
            line-height: 20px;
            text-align: center;

            cursor: pointer;
            &:hover {
                // tooltipe나오게하기
                }
            }
        }
    dl {}
    dt {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        }
    dd {
        display: inline-block;
        width: 33%;
        margin: 5px 0;
        &:before {
            display: inline-block;
            margin-right: 5px;
            font-size: 20px;
            font-weight: bold;
            vertical-align: bottom;

            content: "·";
            }
        }
    }

@media screen and (max-width: 1300px){
    body {
        width: 800px;
        }
    }